
/* User Management Demo Stuff */
.ko_list li span {
  padding: 0 5px;
}


.userListContainer {
  display: inline-block;
}

.classRosterRegion {
  display: inline-block;
}

#modal {
  display: none;
}
